#contents.style-scope.ytd-rich-grid-renderer,
.style-scope.ytd-two-column-browse-results-renderer,
#items.style-scope.ytd-mini-guide-renderer{
    display: none;
}

#container{
    flex-direction: column !important;
    gap: 2em;
    
}

#center.ytd-masthead {
    width: 100%;
    max-width: 600px;
}

@media (max-width: 656px) {
    #center.ytd-masthead {
        justify-content: center !important;
    }
    #start.ytd-masthead {
        margin-left: 0em !important;
    }
}
input {
    margin-top: .3em !important;
}

#search-icon {
    margin-top: .6em !important;
}

#container.ytd-masthead {
    margin-top: 35vh !important;
    margin-right: 5em;
}

#start.ytd-masthead {
    transform: scale(1.5);
    margin-left: 6em;
}


#center.ytd-masthead {
    transform: scale(1.2);
}

#end.ytd-masthead {
    transform: scale(1.4);
    justify-content: center !important;
    margin-left: 5em;
}

#logo-icon {
    filter:grayscale(100%)
}

#icon.style-scope.ytd-notification-topbar-button-renderer {
    display: none;
}

#guide.style-scope.ytd-app {
    z-index: 9999;
}

#guide-spacer.ytd-app {
    display: none;
}

#search-clear-button.ytd-searchbox {
    position: absolute;
    justify-content: center;
    right: .3em;
    top: 0.7em;
    background-color: var(--ytd-searchbox-background);
}